/* 
    Created on : 05 Jan 15, 15:22:31
    Author     : Admin
*/


/* ---------- FORMS ---------- */
form label {
	display: block;
	text-transform: uppercase;
	color: #2a2e36;
	margin: 0 0 0.3125em 0;
}

form label.alt-label { text-transform: none; }

form input[type="text"], input[type="password"], textarea {
	border: 1px solid #d9dbdd;
	padding: 1em 0.625em; /* 16/16 10/16 */
	outline: none;
}
	form input[type="text"]:hover, input[type="password"]:hover, textarea:hover,
	form input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
		border: 1px solid #bbbdbe;
	}
	
form input[type="checkbox"], form input[type="radio"] { margin-right: 0.833em; /* 10/12 */ }

form input[type="submit"] {
	border: none;
	cursor: pointer;
	padding: 0.833em; /* 10/12 */

	background-position: right center;
	padding-right: 3em; /* 36/12 */
	background-repeat: no-repeat;
	font-weight: bold;
	text-transform: uppercase;
}

form#search-form input {
	border: none;
	/* The inner text overflows on the BG image, so we're setting a right padding to stop that */
	padding-right: 3em; /* 36/12 */
}
	form#search-form input:focus {
		/* Same as .dark:hover */
		background-color: #5d6677;
		color: white;
	}

form p em {
	margin-top: 0.833em; /* 10/12 */
	display: block;
}

form p.form-error, form p.form-error label { color: #cf4425; }

form p.form-error em {
	background: transparent url('../images/icons/message-boxes/error.png') no-repeat left center;
	padding-left: 2em; /* 24/12 */
}

form input.error-input { border: 1px solid #ff876f; }
	form input.error-input:hover { border: 1px solid #b03e27; }

/* Styling the HTML5 placeholders */
/* So far they don't work in: IE, Opera 10 and below, Firefox 3.6 and below */
::-webkit-input-placeholder { color: #858d9c; }
:-moz-placeholder { color: #858d9c; }





.form-control {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777;
}
.form-control::-webkit-input-placeholder {
  color: #777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 34px;
  line-height: 1.42857143 \0;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
  line-height: 30px;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
  line-height: 46px;
}

