/*
Informasi tentang file dan lisensi pembuatan :
Creator    : IBeESNay 
Created on : 02 Feb 15, 14:56:54
Author     : Admin                                  
© Copyright and Powered by IBeESNay.
*/
/* 
    Created on : 09 Feb 15, 14:56:54
    Author     : Admin
*/

body {
    background: #f0f0f0;
}
h1 {
    text-align: center;
}



