/*
*****************************************************************************
Filename  : .php
Creator   : IBeESNay                                   
© Copyright and Powered by IBeESNay                         
*****************************************************************************
*/
/* 
    Created on : 17 Jan 15, 15:37:17
    Author     : Admin
*/

        ::-webkit-scrollbar {
            height:12px;
            width: 8px;
            border-radius: 2em;
            background: #e5e5e5; //warna background scroll
        }
        ::-webkit-scrollbar:hover {
            height:12px;
            width: 5px;
            border-radius: 0px 0px 50px 50px;
            background: #d5d5d5; //warna background scroll
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 0px 0px 50px 50px;
            background-color: #bbb ; //warna scroll
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: #222;
        }
        ::-webkit-scrollbar-track {
            border-radius: 1em;
            background: transparent;
        }
        ::-webkit-scrollbar-track:hover {
            background: rgba(110, 110, 110, 0.25);
        }
        

.menu-bawah{
	float:left;
	height:46px;
}

.menu-bawah ul{
	width:auto;
	float:right;
	height:46px;
	margin:0px;
        
}

.menu-bawah ul li{
	float:left;
	height:46px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
        font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	list-style-type: none;
	background-color:#36c3d9;
}

.menu-bawah ul li:hover{
	float:left;
	height:46px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 13px;
        font-family: 'HelveticaLTStdRoman',Arial, Helvetica, sans-serif;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	list-style-type: none;
	background-color:#36f3d9;
}
.menu-bawah ul li a{
        color: #f5f5f5;
}